{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

<div class="container">
  <div class="row">
    <div class="center-block col-md-4" style="float: none;">
      <img width="360" height="247" src="{% static 'images/weave icon@2x.png' %}">
    </div>
  </div>
  <h2>ωeave Privacy Policy</h2>
  <p>This privacy policy sets out how ωeave uses and protects any information that you give when you use the ωeave app.</p>
  <p>ωeave is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using the app, then you can be assured that it will only be used in accordance with this privacy statement.</p>
  <p>ωeave may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 2020/02/06.</p>
  <h2>1.&nbsp;&nbsp;&nbsp;What we collect</h2>
  <p>We may collect the following information:</p>
  <ol>
      <li>Name</li>
      <li>Birth date</li>
      <li>Contact information</li>
      <li>Contacts, Calendar</li>
      <li>Location, Profile picture</li>
  </ol>
  
  <h2>2.&nbsp;&nbsp;&nbsp;What we do with the information we gather</h2>
  <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
  <ol>
      <li>We mainly use the information to provide the services we offer.</li>
  </ol>
  <p>We may use the information to customize the service according to your interests.</p>
  
  <h2>3.&nbsp;&nbsp;&nbsp;Security</h2>
  <p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect.</p>
  
  <h2>4.&nbsp;&nbsp;&nbsp;Controlling your personal information</h2>
  <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee may be payable. If you believe that any information we are holding on you is incorrect or incomplete, we will promptly correct any information found to be incorrect.</p>
</div>
