{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{% static 'css/navigation-clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <nav
            class="navbar navbar-light navbar-expand-md fixed-top border-primary border rounded shadow-sm navigation-clean">
            <div class="container-fluid"><a class="navbar-brand text-left" href="#">iωeave</a><button
                    data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                        navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link"
                                href="{% url 'support' %}">Support</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container text-center">
        <div class="text-center" data-aos="fade-down"
            style="padding-right: 0px;padding-left: 0px;width: 599px;margin-left: 3px;min-width: 0px;height: 48px;display: inline-block;">
            <p class="text-center border rounded-0 border-success shadow-sm"
                style="width: 598px;margin-left: 0px;margin-bottom: 16px;padding-right: -28px;padding-top:65px;font-size: 35px; font-family: 'Segoe script';">
                Thank you, your message has been sent!&nbsp;</p>
        </div>
    </div>
    <div class="text-center" style="width: 100%;height: 585px;align-content: center;margin-top: 45px;"><img
            data-aos="fade-up" data-aos-duration="850" src="{% static 'images/weave icon@2x.png' %}"
            style="width: 808px;padding-top: 0px;padding-left: 0px;"></div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
</body>
<footer>

    <div class="container">
        <p style="display:inline-block">&copy; 2020 ωeave </p>
    </div>
</footer>

</html>